on: [push, pull_request]

name: Test

jobs:
  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          profile: minimal
          components: rustfmt, clippy
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: install cargo lints
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-lints
      - name: cargo lints clippy
        uses: actions-rs/cargo@v1
        with:
          command: lints
          args: clippy
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      - uses: Swatinem/rust-cache@v1
      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
  test:
    name: cargo test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - name: test/debug
        uses: actions-rs/cargo@v1
        with:
          command: test
      - name: test/release
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release
      - name: test/debug all features
        if: ${{ matrix.rust != 'stable' }}
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - name: test/release all features
        if: ${{ matrix.rust != 'stable' }}
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --release --all-features
